
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


button {
    background-color:red;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


img {
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 5px;
}

img:hover {
    transform: scale(1.1);
}
